librdkafka
*.tbz2
*.zip
*.dSYM
*.o
*.so
*.engine
*.cfg
*.weights
*.etlt
*.table.*
*.dot.png
*.mp4
cuda_fft
credentials.json
*.pickle
*.h264
src/deepstream-app/deepstream-app
solla_test/deepstream-5.0-origin
gst-python/
__pycache__
ltmain.sh
opencv/
yolo_marco/