# Aurix336DA

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Backup
*.bak

# Logging Data
*.h5

# print_common.h
axx910_main/src/print_common.h

# vscode
.vscode

# wpa config file
wpa_psk.conf
axx910_main/src/config_file/SimFileInfo.ini
.vscode/launch.json
axx910_main/src/print_common.h
axx910_main/src/sys/sys_param/sys_param_afi910/*.json
